<div class="grid">
    <input class="toggle" type="checkbox" />


    <div class="baseline-grid">
        <div class="guide"></div>
        <div class="guide"></div>
        <div class="guide"></div>
        <div class="guide"></div>
        <div class="guide"></div>
        <div class="guide"></div>
        <div class="guide"></div>
        <div class="guide"></div>
        <div class="guide"></div>
        <div class="guide"></div>
        <div class="guide"></div>
    </div>
</div>
