{{#if resume.interests.length}}
    <div class="container interests-container">
        {{> title value="Interests"}}

        <ul class="inline">
            {{#each resume.interests}}
                <li>{{name}}</li>
            {{/each}}
        </ul>
    </div>
{{/if}}
