{{#if resume.skills.length}}
    <section class="container">
        {{> title value="Skills"}}

        {{#each resume.skills}}
            <section class="subcontainer">
                <h4 class="bold">{{name}}</h4>
                <h5 class="italic">{{level}}</h5>
                {{#if keywords.length}}
                    <ul class="inline">
                        {{#each keywords}}
                            <li>{{.}}</li>
                        {{/each}}
                    </ul>
                {{/if}}
            </section>
        {{/each}}
    </section>
{{/if}}
