{{#if resume.work.length}}
<div class="container work-container">
    {{> title value="Experience"}}

    {{#each resume.work}}
        <section class="item">
            {{> section-header name=this.position location=null }}

            {{#if company}}
            <h4>{{company}}</h4>
            {{/if}}

            {{#if summary}}
            <p class="summary">{{summary}}</p>
            {{/if}}

            {{#if highlights.length}}
            <ul>
                {{#each highlights}}
                <li>{{.}}</li>
                {{/each}}
            </ul>
            {{/if}}
        </section>
    {{/each}}
</div>
{{/if}}
