.page {
    background: white;
    width: $page-width;
    min-height: $page-height;
    display: block;
    margin: 0 auto;
    padding: rhythm(1) 22px rhythm(1) 34px;

    @include shadow();
    @include clearfix();

    position: relative;

    &:hover {
        > .baseline-grid {
            opacity: 1;
        }
    }
}

.resume-content {
    display: flex;
}

.left-column {
    width: rhythm($aside-width);
    margin-right: rhythm($aside-margin);
    word-wrap: break-word;
}

.right-column {
    width: auto;
}

.item {
    margin-bottom: rhythm(1);

    &:last-child {
        margin-bottom: 0;
    }
}
