.info-tag-container {
    margin-bottom: rhythm(1/4);

    display: flex;

    .fa {
        @include type-setting(1);

        line-height: $base-line-height * 3 / 4;

        width: 12px;
        margin-right: rhythm(1/4);
        text-align: center;
        vertical-align: middle;

        &.fa-map-marker {
            line-height: 2 * $base-line-height * 3 / 4;
        }

        &.fa-mobile {
            font-size: 1.4rem;
        }

        &.fa-envelope-o {
            font-size: 0.9rem;
        }

        &.fa-desktop {
            font-size: 0.8rem;
        }

        &.fa-external-link {
            width: auto;
            font-size: inherit;
            vertical-align: text-top;
        }
    }

    .info-text {
        @include type-setting(-2);

        text-transform: none;
        vertical-align: middle;
    }
}
